// 디바이스 너비 변수(figma 기준)
$device-width: 390px;
$mobile-width: 600px;

// px을 vw로 변환하는 함수
@function vw($px) {
  @return calc($px / $device-width) * 100vw;
}
@mixin min-width {
  @media screen and (min-width: #{$device-width}) {
    @content;
  }
}
@mixin mobile-only {
  @media screen and (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

body {
  font-family: "Nunito Sans", serif;
  font-style: normal;
  overflow-x: hidden;
  background: #23183C;
}
:where(html, body) {
  min-height: 100dvh;
}

:where(:lang(ko)) {
  word-break: keep-all;
}

:where(body) {
  margin: 0;
  overflow-wrap: break-word;
}

:where(img) {
  max-width: 100%;
  height: auto;
}

:where([class]) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([class])::before,
:where([class])::after {
  box-sizing: border-box;
  pointer-events: none;
}

:where(ol[class], ul[class]) {
  list-style: none;
}

:where(hr[class], button[class], fieldset[class], iframe[class], input[class], select[class], textarea[class]) {
  border: 0;
}

:where(button[class], dialog[class], input[class], mark[class], meter[class], progress[class]) {
  background-color: transparent;
}

:where(table[class]) {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

:where(button[class], input[class], meter[class], progress[class], select[class], textarea[class]) {
  appearance: none;
}
.mobile {
  display: block;
  @include min-width {
    display: none;
  }
}

.pc {
  display: none;
  @include min-width {
    display: block;
  }
}
.topBanner {
  text-align: center;
}
.loveWrap {
  width: 100%;
  max-width: 390px;
  @include min-width {
    max-width: 600px;
  }
  margin: 0 auto;
  background: #23183C;
  &__tit {
    font-size: vw(34px);
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.03rem;
    padding-top: vw(64px);
    padding-bottom: vw(76px);
    img {
      display: block;
      width: 90%;
      margin:0 auto;
    }
    @include min-width {
      font-size: 34px;
      padding-top: 64px;
      padding-bottom: 76px;
    }
  }
  &__titImg {
    padding-top: vw(40px);
    padding-bottom: vw(10px);
    img {
      width: 90%;
      margin:0 auto;
      @include min-width {
        width: 100%;
      }
    }
    @include min-width {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &__inputBox {
    display: flex;
    margin:0 auto;
    width: 88%;
    @include min-width {
      max-width: 440px;
    }
    position: relative;
    + .loveWrap__inputBox {
      margin-top: vw(14px);
      @include min-width {
        margin-top: 14px;
      }
    }
  }
  &__label {
    position: absolute;
    color:#fff;
    font-size: vw(12px);
    left: vw(16px);
    top: vw(8px);
    @include min-width {
      font-size: 12px;
      left: 16px;
      top: 8px;
    }
  }
  &__input {
    border: 1px solid #fff;
    width: 100%;
    height: vw(56px);
    border-radius: vw(8px);
    padding-left: vw(13px);
    font-size: vw(16px);
    color:#fff;
    padding-top: vw(15px);
    background-color: rgba(255,255,255,.1);
    @include min-width {
      height: 56px;
      border-radius: 8px;
      font-size: 16px;
      padding-top: 15px;
      padding-left: 14px;
    }
  }
  &__selectBox {
    display: flex;
    margin:0 auto;
    width: 88%;
    @include min-width {
      max-width: 440px;
      margin-top: 14px;
    }
    position: relative;
  }
  &__select {
    border: 1px solid #fff;
    width: 100%;
    height: vw(56px);
    border-radius: vw(8px);
    padding-left: vw(13px);
    font-size: vw(16px);
    color:#fff;
    padding-top: vw(15px);
    background-color: rgba(255,255,255,.1);
    background-image: url('../img/ico_arrow.svg'); // 기본 상태의 화살표 이미지
    background-position: calc(100% - 20px) 25px;
    background-repeat: no-repeat;
    background-size: vw(5px);
    @include min-width {
      background-size:24px;
    }

    &:focus {
      background-image: url('../img/ico_arrow_up.svg'); // 기본 상태의 화살표 이미지
    }
      @include min-width {
      height: 56px;
      border-radius: 8px;
      font-size: 16px;
      padding-top: 15px;
      padding-left: 14px;
    }
  }
  &__info {
    text-align: center;
    margin: vw(29px) auto vw(60px);
    font-size: vw(15px);

    @include min-width {
      margin: 29px auto 60px;
      font-size: 15px;
    }
    &Link {
      color:#fff;
      padding-right: vw(20px);
      background: url("../img/ico_point.svg") no-repeat 100%  50% / 4vw;
      @include min-width {
        padding-right: 25px;
        background: url("../img/ico_point.svg") no-repeat 100%  50% / 20px;
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto vw(60px);
    width: vw(353px);
    height: vw(70px);
    background-color: #5B17FF;
    border-radius: vw(43px);
    color:#fff;
    font-size: vw(20px);
    font-weight: 500;
    cursor: pointer;
    @include min-width {
      width: 353px;
      height: 70px;
      margin-bottom: 60px;
      border-radius: 43px;
      font-size: 20px;
    }
    &:hover,
    &:active {
      background: #6a3cd9;
    }
  }
  &__ad {
    width: 100%;
    height: vw(78px);
    padding-top: vw(10px);
    background: #fff;
    display: flex;
    justify-content: flex-start;
    p {
      @include min-width {
        display: inline-block;
        margin:0;
      }
      @include mobile-only{
        display: none;
      }
    }
    @include min-width {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin:0 auto;
      height: 78px;
      padding-block:10px;
      gap: 16px;
    }
  }
}
.result {
  position: relative;
  padding-bottom: vw(50px);
  @include min-width {
    padding-bottom: 50px;
  }
  &__ad {
    background-color: #D9D9D9;
    height: vw(78px);
    @include min-width {
      height: 78px;
    }
  }
  &__info {
    position: relative;
  }
  &__set {
    position: absolute;
    top: vw(18px);
    right: vw(18px);
    font-size: vw(15px);
    color:#fff;
    @include min-width {
      right: 18px;
      top: 18px;
      font-size: 15px;
    }
  }
  &__tit {
    text-align: center;
    font-size: vw(44px);
    font-weight: 700;
    letter-spacing: -0.03rem;
    margin-top: vw(65px);
    margin-bottom: vw(35px);
    color:#fff;
    @include min-width {
      margin-bottom: 35px;
      margin-top: 65px;
      font-size: 44px;
    }
  }
  &__nameBox {
    display: flex;
    justify-content: space-between;
    gap: vw(2px);
    width: 100%;
  }
  &__name {
    flex: 1 1 calc(100% / 6);
    height: vw(33px);
    line-height: vw(14px);
    min-width: 0;
    box-sizing: border-box;
    border-radius: vw(43px);
    border: 1px solid #F99335;
    font-size: vw(16px);
    font-weight: 500;
    color:#F99335;
    background-color: #fff;
    text-align: center;
    padding-inline: vw(5px);
    &:nth-child(odd) {
      border-color: #7E49FF;
      color:#7E49FF;
    }
    @include min-width {
      font-size: 16px;
      padding-inline: 5px;
      border-radius: 43px;
      height: 33px;
      padding-top: 3px;
      line-height: 24px;}
    span {
      white-space: normal; /* 줄바꿈 허용 */
      overflow: hidden; /* 넘치는 텍스트 숨김 */
      text-overflow: ellipsis; /* 생략 부호 표시 */
      display: -webkit-box;
      -webkit-line-clamp: 2; /* 2줄로 제한 */
      -webkit-box-orient: vertical;
      word-break: break-word; /* 긴 단어 처리 */
      &:empty {
        &:before {
          content: '-';
          line-height: vw(31px);
          @include min-width {
            line-height: 27px;
          }
        }
      }
    }
  }
  &__point {
    .row {
      display: flex;
      margin:0 auto;
      &:first-child {
        .result__point__item {
          flex: 1 1 calc(100% / 6);
        }
      }
      &:nth-child(2) {
        width: 80%;
        .result__point__item {
          flex: 1 1 calc(90% / 5);
        }
      }
      &:nth-child(3) {
        width: 65%;
        .result__point__item {
          flex: 1 1 calc(90% / 4);
        }
      }
      &:nth-child(4) {
        width: 45%;
        .result__point__item {
          flex: 1 1 calc(90% / 3);
        }
      }
      &:nth-child(5) {
        width: 30%;
        .result__point__item {
          flex: 1 1 calc(90% / 2);
        }
      }
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: vw(33px);
      min-width: 0;
      box-sizing: border-box;
      text-align: center;
      font-size: vw(15px);
      color:#fff;
      @include min-width {
        font-size: 15px;
        height: 20px;
        margin-block: 15px;
      }
    }
  }
  &__text {
    text-align: center;
    font-size: vw(20px);
    margin:vw(37px) auto;
    color:#fff;
    @include min-width {
      font-size: 20px;
      margin:37px auto;
    }
    b {
      font-style: italic;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    height: vw(56px);
    background-color: #7E49FF;
    border-bottom-left-radius: vw(8px);
    border-top-left-radius: vw(8px);
    color:#fff;
    font-size: vw(16px);
    font-weight: 700;
    width: 80%;
    cursor: pointer;
    margin-bottom: vw(7px);
    @include min-width {
      font-size: 16px;
      height: 56px;
      border-bottom-left-radius:8px;
      border-top-left-radius: 8px;
      margin-bottom: 7px;
    }
    &:hover,
    &:active {
      background: #6a3cd9;
    }
  }
  &__circle {
    display: flex;
    justify-content: flex-end;
    gap: vw(8px);
    margin-top: vw(25px);
    padding-right: vw(35px);
    img {
      width: vw(302px);
    }
    @include min-width {
      gap: 8px;
      margin-top: 25px;
      padding-right: 35px;
      img {
        width: 302px;
      }
    }
    .circleBox {
      width: vw(56px);
      height: vw(56px);
      background-color: #D9D9D9;
      border-radius: 50%;
      gap: vw(8px);
      @include min-width {
        width: 56px;
        height: 56px;
      }
    }
  }
}
.search {
  padding-top: vw(54px);
  padding-bottom: vw(50px);
  @include min-width {
    padding-top: 54px;
    padding-bottom: 50px;
  }
  &__tit {
    font-size: vw(24px);
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.01em;
    color:#fff;
    @include min-width {
      font-size: 24px;
    }
  }
  &__box {
    margin-top: vw(50px);
    display: flex;
    margin-bottom: vw(45px);
    gap: vw(5px);
    padding-inline: vw(20px);
    @include min-width {
      max-width: 420px;
      margin:50px auto 45px;
      gap: 5px;
      padding-inline: 20px;
    }

  }
  &__input {
    width: vw(267px);
    height: vw(56px);
    border-radius: vw(8px);
    font-size: vw(16px);
    border: 1px solid #E2E8F0;
    padding:vw(16px);
    background-color: #fff;
    @include min-width {
      width: 267px;
      height: 56px;
      border-radius: 8px;
      font-size: 16px;
      padding:16px;
    }
  }
  &__btn {
    flex: 1;
    background-color: #7E49FF;
    color: #fff;
    font-size: vw(20px);
    border-radius: vw(43px);
    cursor: pointer;
    @include min-width {
      font-size: 20px;
      border-radius: 43px;
    }
    &:hover,
    &:active {
      background: #6a3cd9;
    }
  }
  &__range {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: vw(10px);
    padding-inline: vw(20px);
    margin-bottom: vw(80px);
    &Item {
      font-size: vw(15px);
      letter-spacing: -0.02em;
      width: calc(100% / 4);
      color:#fff;
      @include min-width {
        font-size:  15px;
      }
      &:nth-child(3) {
        padding-left: vw(10px);
        @include min-width {
          padding-left: 10px;
        }
      }
      &:nth-child(4) {
        padding-left: vw(40px);
        @include min-width {
          padding-left: 40px;
        }
      }
      &:last-child {
        text-align: right;
      }
    }
    @include min-width {
      max-width: 420px;
      padding-top: 10px;
      padding-inline: 20px;
      margin:0 auto 80px;
    }
  }
  &__list {
    @include min-width {
      max-width: 460px;
      margin:0 auto;
    }
  }
  &__listHeader {
    display: flex;
    justify-content: space-between;
    padding-inline: vw(10px);
    border-bottom: 1px solid #C8C8C8;
    padding-bottom: vw(10px);
    color:#fff;
    &__item {
      word-break: keep-all;
      text-align: center;
      line-height: vw(16px);
      font-weight: 700;
      font-size: vw(20px);
      &:first-child {
        width: 20%;
      }
      &:nth-child(2) {
        width: 120%;
        @include min-width {
          width: 100%;
        }
      }
      &:last-child {
        width: 30%;
      }
      @include min-width {
        line-height: 16px;
        font-size: 20px;
      }
    }
    @include min-width {
      padding-inline: 10px;
      padding-bottom: 10px;
    }
  }
  &__listBody {
    border-bottom: 1px solid #C8C8C8;
    &__itemWrap {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #C8C8C8;
      padding-bottom: vw(10px);
      @include min-width {
        padding-bottom: 10px;
      }
      & + .rank {
        .search__listBody__item {
          color:#fff;
        }
      }
    }
    &__item {
      padding-block: vw(20px);
      text-align: center;
      font-size: vw(18px);
      color:#fff;
      &:first-child {
        width: 12%;
      }
      &:nth-child(2) {
        width: 50%;
        text-align: left;
      }
      &:last-child {
        width: 20%;
      }
      @include min-width {
        padding-block: 20px;
        font-size: 18px;
      }
    }
  }
  &__listFooter {
    display: flex;
    flex-direction: column;
    &__itemWrap{
      display: flex;
      justify-content: space-between;
    }
    &__item {
      color:#7E49FF;
      padding-block: vw(20px);
      text-align: center;
      font-size: vw(18px);
      &:first-child {
        width: 12%;
      }
      &:nth-child(2) {
        width: 50%;
        text-align: left;
      }
      &:last-child {
        width: 20%;
      }
      @include min-width {
        padding-block: 20px;
        font-size: 18px;
      }
    }
    &:before {
      display: block;
      width: 100%;
      height: vw(74px);
      content: '';
      background: url("../img/ico_dot.svg") no-repeat center center / vw(6px) vw(50px);
      @include min-width {
        height: 74px;
        background: url("../img/ico_dot.svg") no-repeat center center / 6px 50px;
      }
    }
  }
  &__with {
    display: block;
    width: calc(100% - #{vw(40px)});
    margin:vw(10px) auto;
    height: vw(59px);
    background-color: #7E49FF;
    color: #fff;
    font-size: vw(20px);
    border-radius: vw(43px);
    cursor: pointer;
    padding-inline: vw(20px);
    @include min-width {
      height: 59px;
      font-size: 20px;
      border-radius: 43px;
      width: calc(100% - 40px);
      margin-top: 10px;
    }
    &:hover,
    &:active {
      background: #6a3cd9;
    }
  }
}
.tested {
  padding-top: vw(50px);
  padding-bottom: vw(50px);
  &__tit {
    font-size: vw(24px);
    font-weight: 600;
    text-align: center;
    color:#fff;
    span  {
      color: #7E49FF;
    }
    @include min-width {
      font-size: 24px;
    }
  }
  @include min-width {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__list {
    margin-top: vw(100px);
    @include min-width {
      margin-top: 100px;
    }
    &.blur {
      filter: blur(3px);
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #C8C8C8;
      padding-bottom: vw(10px);
      @include min-width {
        padding-bottom: 10px;
      }
      & + .rank {
        .search__listBody__item {
          color:#7E49FF;
        }
      }
    }
    &__item {
      padding-block: vw(15px);
      text-align: center;
      font-size: vw(18px);
      color:#fff;
      &:first-child {
        width: 15%;
      }
      &:nth-child(2) {
        width: 60%;
        text-align: left;
        padding-left: 5%;
      }
      &:last-child {
        width: 25%;
      }
      @include min-width {
        padding-block: 15px;
        font-size: 18px;
      }
      .user {
        color:#fff;
        &:first-child {
          color:#7E49FF;
        }
      }
    }
  }
  &__btn {
    display: block;
    width: 90%;
    margin: vw(20px) auto 0;
    color:#fff;
    padding-block: vw(20px);
    background-color: #7E49FF;
    border-radius: vw(43px);
    font-size: vw(20px);
    cursor: pointer;
    @include min-width {
      padding-block: 20px;
      border-right: 43px;
      font-size: 20px;
      width: calc(100% - 40px);
      margin-top: 20px;
    }
    &:hover,
    &:active {
      background: #6a3cd9;
    }
    &.app {
      background-color: #F9FF49;
      color:#000;
      &:hover,
      &:active {
        background: #c9cf3c;
      }
    }
  }
}
#slider {
  width: calc(100% - #{vw(40px)});
  height: 1px;
  background-color: #C8C8C8;
  position: absolute;
  left: vw(20px);
  top: 0;
  span {
    display: block;
    width: vw(13px);
    height: vw(13px);
    background-color: #7E49FF;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    @include min-width {
      width: 13px;
      height: 13px
    }
  }
  @include min-width {
    width: calc(100% - 40px);
    left: 20px;
  }
}
