{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta property="og:image" content="https://crush-o-meter.com/static/app/img/img_calc.png" />
  <meta name="description" content="Squid Game -> K-pop DEMON Hunters"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "app/scss/index.css" %}">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2655483668363741"
     crossorigin="anonymous"></script>
  <title>crush o meter</title>
</head>
<body>
  {% block content %}

  {% endblock %}

{#  <footer style="text-align: center; padding: 20px; margin-top: 30px; border-top: 1px solid #eee;">#}
{#    <a href="{% url 'privacy' %}" style="color: #666; text-decoration: none; font-size: 14px;">Privacy Policy</a>#}
{#  </footer>#}
</body>
</html>
