{% extends "layout/main.html" %}
{% block content %}
 <script>
    function getLocationAndSubmit(event) {
        event.preventDefault();  // Prevent immediate form submission
        document.getElementById("nameForm").submit();
        /*if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                document.getElementById("latitude").value = position.coords.latitude;
                document.getElementById("longitude").value = position.coords.longitude;
                document.getElementById("nameForm").submit(); // Now submit the form
            }, function (error) {
                alert("Location access denied! Submitting without location.");
                document.getElementById("nameForm").submit(); // Submit without location
            });
        } else {
            alert("Geolocation is not supported by this browser.");
            document.getElementById("nameForm").submit(); // Submit without location
        }*/
    }
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2655483668363741"
     crossorigin="anonymous"></script>
<!-- calculate page -->
<ins class="adsbygoogle"
     style="display:inline-block;width:390px;height:78px"
     data-ad-client="ca-pub-2655483668363741"
     data-ad-slot="8896461168"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<form class="loveWrap" method="post" id="nameForm" onsubmit="getLocationAndSubmit(event)">
    {% csrf_token %}
    <div class="loveWrap__tit">Love compatibility</div>
    <div class="loveWrap__inputBox">
      <div class="loveWrap__label">Name 1</div>
      <input class="loveWrap__input" type="text" name="name1"  placeholder="First name & Last name">
    </div>
    <div class="loveWrap__inputBox">
      <div class="loveWrap__label">Name 2</div>
      <input class="loveWrap__input" type="text" name="name2"  placeholder="First name & Last name">
    </div>
    <div class="loveWrap__info">
      <a href="#a" class="loveWrap__infoLink">You don’t know friend’s last name?</a>
    </div>
    {% comment %}<input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">{% endcomment %}
    <button type="submit" class="loveWrap__btn">Calculate</button>
    <div class="loveWrap__ad"></div>
</form>
{% endblock %}