{% extends "layout/main.html" %}
{% load static %}
{% load i18n %}
{% block content %}
 <script>
    function getLocationAndSubmit(event) {
        event.preventDefault();  // Prevent immediate form submission
        document.getElementById("nameForm").submit();
        /*if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                document.getElementById("latitude").value = position.coords.latitude;
                document.getElementById("longitude").value = position.coords.longitude;
                document.getElementById("nameForm").submit(); // Now submit the form
            }, function (error) {
                alert("Location access denied! Submitting without location.");
                document.getElementById("nameForm").submit(); // Submit without location
            });
        } else {
            alert("Geolocation is not supported by this browser.");
            document.getElementById("nameForm").submit(); // Submit without location
        }*/
    }
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2655483668363741"
     crossorigin="anonymous"></script>
<!-- calculate page -->
<ins class="adsbygoogle"
     style="display:inline-block;width:390px;height:78px"
     data-ad-client="ca-pub-2655483668363741"
     data-ad-slot="8896461168"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <div class="loveWrap">
        <div class="loveWrap__titImg">
            <img src="{% static 'app/img/img_calc.png' %}" alt="" class="mobile">
            <img src="{% static 'app/img/img_calc.png' %}" alt="" class="pc">
        </div>

    </div>
    <div class="loveWrap">
        <form action="{% url 'set_language' %}" method="post" >
            {% csrf_token %}
            <div class="loveWrap__inputBox" style="margin-bottom: 10px;">
                <select name="language" onchange="this.form.submit()" class="loveWrap__input">
                    <option value="en" {% if request.LANGUAGE_CODE == "en" %}selected{% endif %}>English</option>
                    <option value="es" {% if request.LANGUAGE_CODE == "es" %}selected{% endif %}>Spanish</option>
                    <option value="fr" {% if request.LANGUAGE_CODE == "fr" %}selected{% endif %}>French</option>
                    <option value="de" {% if request.LANGUAGE_CODE == "de" %}selected{% endif %}>German</option>
                    <option value="ru" {% if request.LANGUAGE_CODE == "ru" %}selected{% endif %}>Russian</option>
                    <option value="it" {% if request.LANGUAGE_CODE == "it" %}selected{% endif %}>Italian</option>
                    <option value="sv" {% if request.LANGUAGE_CODE == "sv" %}selected{% endif %}>Swedish</option>
                    <option value="pt" {% if request.LANGUAGE_CODE == "pt" %}selected{% endif %}>Portuguese</option>
                    <option value="nl" {% if request.LANGUAGE_CODE == "nl" %}selected{% endif %}>Dutch</option>
                    <option value="no" {% if request.LANGUAGE_CODE == "no" %}selected{% endif %}>Norwegian</option>
                    <option value="da" {% if request.LANGUAGE_CODE == "da" %}selected{% endif %}>Danish</option>
                    <option value="cs" {% if request.LANGUAGE_CODE == "cs" %}selected{% endif %}>Czech</option>
                    <option value="hu" {% if request.LANGUAGE_CODE == "hu" %}selected{% endif %}>Hungarian</option>
                    <option value="fi" {% if request.LANGUAGE_CODE == "fi" %}selected{% endif %}>Finnish</option>
                    <option value="ro" {% if request.LANGUAGE_CODE == "ro" %}selected{% endif %}>Romanian</option>
                    <option value="el" {% if request.LANGUAGE_CODE == "el" %}selected{% endif %}>Greek</option>
                    <option value="pl" {% if request.LANGUAGE_CODE == "pl" %}selected{% endif %}>Polish</option>
                    <option value="ms" {% if request.LANGUAGE_CODE == "ms" %}selected{% endif %}>Malay</option>
                    <option value="ko" {% if request.LANGUAGE_CODE == "ko" %}selected{% endif %}>Korean</option>
                    <option value="hi" {% if request.LANGUAGE_CODE == "hi" %}selected{% endif %}>Hindi</option>
                    <option value="id" {% if request.LANGUAGE_CODE == "id" %}selected{% endif %}>Indonesian</option>
                    <option value="tr" {% if request.LANGUAGE_CODE == "tr" %}selected{% endif %}>Turkish</option>
                    <option value="th" {% if request.LANGUAGE_CODE == "th" %}selected{% endif %}>Thai</option>
                    <option value="vi" {% if request.LANGUAGE_CODE == "vi" %}selected{% endif %}>Vietnamese</option>
                    <option value="he" {% if request.LANGUAGE_CODE == "he" %}selected{% endif %}>Hebrew</option>
                    <option value="ar" {% if request.LANGUAGE_CODE == "ar" %}selected{% endif %}>Arabic</option>
                    <option value="ur" {% if request.LANGUAGE_CODE == "ur" %}selected{% endif %}>Urdu</option>
                </select>
            </div>
        </form>
    </div>
    <form class="loveWrap" method="post" id="nameForm" onsubmit="getLocationAndSubmit(event)">
        {% csrf_token %}
        <div class="loveWrap__inputBox">
            <div class="loveWrap__label">{% trans "Name A (First name & Last name)" %}</div>
            <input class="loveWrap__input" type="text" name="name1" placeholder="{% trans 'e.g. Jennifer Lawrence' %}">
        </div>
        <div class="loveWrap__inputBox">
            <div class="loveWrap__label">{% trans "Name B (First name & Last name)" %}</div>
            <input class="loveWrap__input" type="text" name="name2" placeholder="{% trans 'e.g. Leonardo Dicaprio' %}">
        </div>
        <div class="loveWrap__info">
          <a href="#a" class="loveWrap__infoLink">{% trans "You don’t know friend’s last name?"%}</a>
        </div>
        {% comment %}<input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">{% endcomment %}
        <button type="submit" class="loveWrap__btn">{% trans "Calculate" %}</button>

    </form>
<div class="loveWrap__ad">
  <img src="{% static 'app/img/banner01.png' %}" alt="">
    <p>{% trans "We will resolve your curiosities" %}</p>
</div>
{% endblock %}