{% extends "layout/main.html" %}
{% load static %}
{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<div class="topBanner pc">
  <img src="{% static 'app/img/pc_top.png' %}" alt="">
</div>
<div class="loveWrap tested">
    <div class="tested__tit">
      Who tested with <br><span>{{ search_key }}</span>?
    </div>

    <!-- Remove the blur class when the button is clicked. -->
    <ul class="tested__list {% if success != 'true' %} blur {% endif %}" >
      {% for result in results %}
      <li class="row">
        <div class="tested__list__item">{{ forloop.counter }}</div>
        <div class="tested__list__item">
          <div class="user">{{ result.name1 }}</div>
          <div class="user">{{ result.name2 }}</div>
        </div>
        <div class="tested__list__item">{{ result.compatibility_score }}%</div>
      </li>
      {% endfor %}
{#      <li class="row">#}
{#        <div class="tested__list__item">1</div>#}
{#        <div class="tested__list__item">#}
{#          <div class="user">Leonardo Dicaprio</div>#}
{#          <div class="user">Jennifer Lawrence</div>#}
{#        </div>#}
{#        <div class="tested__list__item">96%</div>#}
{#      </li>#}
{#      <li class="row">#}
{#        <div class="tested__list__item">1</div>#}
{#        <div class="tested__list__item">#}
{#          <div class="user">Leonardo Dicaprio</div>#}
{#          <div class="user">Jennifer Lawrence</div>#}
{#        </div>#}
{#        <div class="tested__list__item">96%</div>#}
{#      </li>#}
{#      <li class="row">#}
{#        <div class="tested__list__item">1</div>#}
{#        <div class="tested__list__item">#}
{#          <div class="user">Leonardo Dicaprio</div>#}
{#          <div class="user">Jennifer Lawrence</div>#}
{#        </div>#}
{#        <div class="tested__list__item">96%</div>#}
{#      </li>#}
{#      <li class="row">#}
{#        <div class="tested__list__item">1</div>#}
{#        <div class="tested__list__item">#}
{#          <div class="user">Leonardo Dicaprio</div>#}
{#          <div class="user">Jennifer Lawrence</div>#}
{#        </div>#}
{#        <div class="tested__list__item">96%</div>#}
{#      </li>#}
    </ul>
    {% if success != 'true' %}
    <button type="button" class="tested__btn" id="checkout-button">
      Open to see <br>3$
    </button>
    {% endif %}
  </div>
  <div class="loveWrap__ad">
      <img src="{% static 'app/img/banner01.png' %}" alt="">
      <p>We will resolve your curiosities</p>
  </div>
 <script>
    var stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");

    document.getElementById("checkout-button").addEventListener("click", function () {
        let currentUrl = window.location.href;
        fetch(`/app/create-checkout-session/?success_url=${encodeURIComponent(currentUrl+'&success=true')}&cancel_url=${encodeURIComponent(currentUrl)}`, {
            method: "GET"
        })
        .then(response => response.json())
        .then(session => {
            return stripe.redirectToCheckout({ sessionId: session.session_id });
        })
        .catch(error => console.error("Error:", error));
    });
</script>
{% endblock %}